@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
}

#header-logo {
    height: 32px;
}

header a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
}

#logo-header {
    border-right: 2px solid #fff;
    padding-right: 20px;
    font-weight: bold;
}

.logo-box {
    margin-left: 5rem;
}

#logo-button:hover {
    text-decoration: underline;
}

#help-center:hover {
    text-decoration: underline;
}

#request {
    padding: 13px;
    margin-right: 2rem;
    font-size: 24px;
    border-radius: 6px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: 1px solid #fff;
}

#sing-in {
    margin-right: 5rem;
    padding: 15px;
    font-size: 24px;
    background-color: #4C5FD5;
    color: #fff;
    border: none;
    border-radius: 6px;
}

#sing-in:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

#search-section {
    background-color: #dadbf1;
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
}

#search-section h2 {
    font-size: 80px;
    font-weight: 200;
    text-align: center;
}

#search-section input {
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #000;
}

.info-div {
    width: 540px;
    margin: 40px;
    max-width: 100%px;
    justify-content: space-between;
}

div h4,
div p {
    font-size: 24px;
    margin: 10px 0;
}

#info-div a {
    text-decoration: none;
    color: #272c99;
}

div img {
    height: 94px;
    margin: auto;
}

#info-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    margin: auto;
}

.info-container {
    display: flex;  
}

footer {
    background-color: #000;
    color: white;
    display: flex;
    padding: 45px;
}

footer ul {
    list-style: none;
}

footer a,
footer p {
    color: #fff;
    font-size: 20px;
}

ul li {
    margin: 10px 0;
}

li a {
    font-size: 15px;
}

li a:hover {
    text-decoration: underline;
}

.content-list {
    margin: 0 auto;
}
